.cards-style-container{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}


 @import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');


.title-breed{
    z-index: 2000;
    top: 30px;
    position: fixed;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #D3F3EC; */
}
/* .order-buttons{
    margin-right: 0px;
    position: fixed;
    z-index: 1000;
    min-width: 223px;
    max-width: 345px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    right: 0;
    top: 90px;
    justify-content: space-around;
} */
.order-buttons{
    margin-right: 1px;
    position: fixed;
    z-index: 1000;
    min-width: 223px;
    max-width: 345px;
    width: 31%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    right: 0;
    top: 79px;
    justify-content: space-between;
}

.select-opt{
    background-color: rgb(253 253 253 / 43%);
    border-radius: 10px;
    width: 29%;
    height: 23px;
    /* margin-top: 11px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}
#weight-select{
    min-width: 79px;
    max-width: 100px;
    width: 24%;
}

.o-button{
    height: 31px;
    width: 73px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: #090909;
    font-size: 81%;
    font-weight: bolder;
    font-family: 'Sniglet', cursive;
    border-radius: 7px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .1s;
    box-shadow: 0px 1px 8px -3px #000000;
    justify-content: center;
}

.pager-buttons{
    position: fixed;
    z-index: 1000;
    max-width: 200px;
    min-width: 190px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    top: 105px;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.paginas {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    font-weight: 600;
    font-family: 'Sniglet', cursive;
}

/* .p-button{
    height: 31px;
    width: 45px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 1em;
    font-weight: bolder;
    font-family: 'Caveat Brush', cursive;
    border-radius: 7px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .1s;
    box-shadow: 0px 1px 8px -3px #000000;
} */

.p-button{
    background-color: rgb(253 253 253 / 43%);
    border-radius: 10px;
    width: 29%;
    height: 23px;
    /* margin-top: 11px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-width: 1px;
    cursor: pointer;
}

.controls-buttons{
    display: flex;
    /* background-color: blue; */
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* button{
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 1em;
    font-weight: bolder;
    font-family: 'Caveat Brush', cursive;
    border-radius: 7px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .1s;
    box-shadow: 0px 3px 7px 3px #00000085;
   } */
   
   button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
   }

   @media(max-width:412px){
    .order-buttons{
        margin-right: 0;
        position: fixed;
        z-index: 1000;
        min-width: 0;
        max-width: 342px;
        width: 30%;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        right: 0;
        top: 73px;
        justify-content: center;
        transition: 1s;
    }
    .pager-buttons{
        position: fixed;
        z-index: 1000;
        max-width: 121px;
        min-width: 0;
        width: 100%;
        display: flex;
        top: 105px;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        right: 0px;
        transition: 1s;
    }
    .paginas{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        font-weight: 600;
        font-family: 'Sniglet', cursive;
        font-size: 13px;
        transition: 1s;
    }
   }

   @import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');